body{
    margin: 0;
    width: 100%;
    padding: 0;
    background-color: hotpink;
}
#img-cont{
    position: relative;
    width: 100%;
    height: 420px;
}
#img-cont img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
header{
    position: relative;
}
nav{
    position: absolute;
    top: 0;
    width: 100%;
    color: white;
}
#cont{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    list-style: none;
    display: flex;
}
nav ul li{
    padding: 0px 4px;
    margin: 2rem;
    margin-right: 25px;
    font-weight: 100;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
#header-body{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    margin: auto;
    justify-content: center;
    text-align: center;
    align-items: center;
}
#header-body img{
    width: 20rem;
    margin-top: 9rem;
}
#header-body p{
    color: white;
    font-size: 2rem;
}